/* Mise en page en plein écran */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Conteneur de la file d'attente */
#queue-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Table */
table {
    width: 90%;
    height: 80%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Entêtes avec taille de police inchangée */
table th, table td {
    padding: 20px;
    border: 2px solid #979494;
}

/* Taille de la police des entêtes */
th {
    background-color: #aa6e14;
    color: white;
    font-size: 1.25rem; /* Taille de police inchangée pour les entêtes */
}

/* Taille de la police des cellules */
table td {
    font-size: 2.5rem; /* Taille des cellules augmentée pour la lisibilité */
}

/* Style des lignes */
tr {
    background-color: #ffffff8c;
}

tr:nth-child(even) {
    background-color: #ffffffc9;
}

/* Media query pour les petits écrans (tablettes, téléphones) */
@media (max-width: 768px) {
    table {
        width: 100%;
    }
    table th, table td {
        font-size: 2rem; /* Taille réduite pour les plus petits écrans */
    }
}

/* Media query pour les très grands écrans (TV) */
@media (min-width: 1920px) {
    table td {
        font-size: 3.5rem; /* Taille de police augmentée mais raisonnable pour la TV */
    }
}
